body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(104.11deg, #ff7e5f 14.52%, #feb567 87.26%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
